body{
  font: Helvetica,Arial,sans-serif;
  background: #e1e1e1;
}
.container {
  margin: 0 auto;
  width: 360px;
}
.chessfield {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  border-radius: 3px;
  overflow: hidden;
}

.chessfield .active {
  background: #f9a825!important;
}

.chessfield table {
  border-collapse: collapse;
}

.chessfield table, th, td {
  border: 0px solid #000;
}

.chessfield td {
    padding: 3px;
    width: 30px;
    height: 30px;
}

.chessfield tr:nth-child(odd) td:nth-child(even),
.chessfield tr:nth-child(even) td:nth-child(odd) {
    background: #4e342e;
}

.chessfield tr .borders {
  background: #fff!important;
}
