body{
  font: Helvetica,Arial,sans-serif;
  background: #e1e1e1;
  font-size: 24px;
  font-weight: bold;
}


.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 480px;
}

.separator {
  height: 20px;
}

.figures{
  background: #fff;
  -webkit-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 3px;
  height: 40px;
  width: 100%;
}

.figures table {
  margin: 0 auto;
}

.figures table tr td {
  border: 0px solid #fff;
  cursor: pointer;
}

.chessfield {
  text-align: center;
  -webkit-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 29px -8px rgba(0,0,0,0.75);
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}

.chessfield .active {
  text-shadow: 0px 1px 8px rgba(239, 239, 0, 1);
}

.chessfield table {
  margin: 0 auto;
  border-collapse: collapse;
}
.chessfield table .item {
  cursor: pointer;
}

.chessfield table tr td {
  border: 1px solid #e1e1e1;
}

.chessfield td {
    padding: 3px;
    width: 30px;
    height: 30px;
}

.chessfield tr:nth-child(odd) td:nth-child(even),
.chessfield tr:nth-child(even) td:nth-child(odd) {
    background: #4e342e;
}

.chessfield tr .borders {
  background: #fff!important;
}
